# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDzCIG9ssjE1g8DUhY5GggyUGK-LgDqo8s
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=coctracker-5edbd.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=coctracker-5edbd
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=coctracker-5edbd.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=866728160948
NEXT_PUBLIC_FIREBASE_APP_ID=1:866728160948:web:eb2fcedce33ce40c71b1e1
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-PQHKC7FCDQ

# API Keys (add when ready)
OPENAI_API_KEY=

